<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.app.friend.mapper.GameMapper">
    <!--    @author 엄상은  -->
    <!--    @since 2024/02/14  -->
    <!--    친구 게임 관련 mapper  -->

    <select id="findGameStatus" parameterType="com.hyundai.app.friend.dto.FriendDto" resultType="com.hyundai.app.friend.enumType.GameStatus">
        SELECT CASE WHEN    (SELECT COUNT(*)
                            FROM    connection_game
                            WHERE   from_member_id = #{friendId} AND to_member_id = #{memberId}
                            AND     (TRUNC(created_at) = TRUNC(SYSDATE) OR TRUNC(created_at) = TRUNC(SYSDATE) - 1)
                            AND     is_matched = 0) > 0
                    THEN    'FRIEND_REQUESTED'
                    WHEN    (SELECT COUNT(*)
                            FROM    connection_game
                            WHERE   from_member_id = #{memberId} AND to_member_id = #{friendId}
                            AND     (TRUNC(created_at) = TRUNC(SYSDATE) OR TRUNC(created_at) = TRUNC(SYSDATE) - 1)
                            AND     is_matched = 0) > 0
                    THEN    'USER_REQUESTED'
                    WHEN    (SELECT COUNT(*)
                            FROM    connection_game
                            WHERE   ((from_member_id = #{friendId} AND to_member_id = #{memberId})
                                    OR (from_member_id = #{memberId} AND to_member_id = #{friendId}))
                            AND     TRUNC(created_at) = TRUNC(SYSDATE)
                            AND     is_matched = 1) > 0
                    THEN    'GAME_PLAYED'
                    ELSE    'NO_GAME_TODAY'
                    END     AS gameStatus
        FROM dual
    </select>
</mapper>