<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.app.member.mapper.MemberMapper">

    <!--    @author 황수영  -->
    <!--    @since 2024/02/12  -->
    <!--    회원 관련 mapper  -->

    <insert id="saveMember" parameterType="com.hyundai.app.member.domain.Member" >
        INSERT INTO member ( id
                            , email
                            , nickname
                            , role
                            , oauth_id
                            , refresh_token
                            , qr_url
        )
        VALUES ( #{id}
                , #{email}
                , #{nickname}
                , #{role, typeHandler=com.hyundai.app.config.DatabaseEnumTypeHandler}
                , #{oauthId}
                , #{refreshToken}
                , #{qrUrl}
               )
    </insert>

    <select id="findById" resultType="com.hyundai.app.member.domain.Member" >
        SELECT id AS id
            , email AS email
            , nickname AS nickname
            , role AS role
            , refresh_token AS refreshToken
            , device_token AS deviceToken
            , oauth_id AS OAuthId
            , img_url AS imgUrl
            , qr_url AS qrUrl
        FROM   MEMBER
        WHERE  id = #{id}
    </select>

    <select id="findByOauthId" resultType="com.hyundai.app.member.domain.Member" >
        SELECT id AS id
            , email AS email
            , nickname AS nickname
            , role AS role
            , refresh_token AS refreshToken
            , device_token AS deviceToken
            , oauth_id AS OAuthId
            , img_url AS imgUrl
            , qr_url AS qrUrl
        FROM   MEMBER
        WHERE  oauth_id = #{oauthId}
    </select>

    <update id="updateDeviceToken">
        UPDATE member
        SET device_token = #{token}
        WHERE id = #{id}
    </update>

</mapper>
