<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.app.event.mapper.MemberEventMapper">
    <!--    @author 엄상은  -->
    <!--    @since 2024/02/22  -->
    <!--    이벤트에 참여한 멤버 mapper  -->
    <insert id="saveMemberEvent" parameterType="memberevent">
        INSERT  INTO member_event (member_id
                                  , event_id)
        VALUES  (#{memberId}
                , #{eventId})
    </insert>

    <!--    @author 최성혁  -->
    <!--    @since 2024/02/27  -->
    <!--    이벤트에 참여한 멤버 mapper  -->
    <select id="getMemberEventDetails">
        SELECT
            me.created_at AS eventParticipationDate,
            m.email AS memberEmail,
            m.birth AS memberBirth,
            m.created_at AS memberJoinDate
        FROM
            member_event me
                JOIN
            member m ON me.member_id = m.id
        WHERE
            me.event_id = #{eventId}
    </select>

</mapper>
