<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.app.store.mapper.StoreMapper">

    <!--    @author 황수영  -->
    <!--    @since 2024/02/13  -->
    <!--    매장 관련 mapper  -->

    <select id="getStoreDetail" resultType="com.hyundai.app.store.domain.Store" >
        SELECT id AS id
            , name AS name
            , contact_number AS contactNumber
            , main_category AS mainCategory
            , sub_category AS subCategory
            , floor AS floor
            , description AS description
            , avg_score AS avgScore
            , review_count AS reviewCount
        FROM store
        WHERE id = #{storeId}
    </select>

    <select id="getReviews" resultType="com.hyundai.app.store.domain.Review" >
        SELECT  review.id
                , review.member_id
                , member.nickname
                , member.img_url
                , review.store_id
                , review.is_deleted
                , review.created_at
                , review.updated_at
                , review.score
                , review.content
        FROM review, member
        WHERE store_id = #{storeId}
        AND review.member_id = member.id
        ORDER BY created_at DESC
    </select>

<!--    <resultMap id="getReviewResultMap" type="com.hyundai.app.store.domain.Review">-->
<!--        <id property="id" column="id" />-->
<!--        <result property="memberId" column="member_id"/>-->
<!--        <result property="storeId" column="store_id"/>-->
<!--        <result property="isDeleted" column="is_deleted"/>-->
<!--        <result property="createdAt" column="created_at"/>-->
<!--        <result property="updatedAt" column="updated_at"/>-->
<!--        <result property="score" column="score"/>-->
<!--        <result property="content" column="content"/>-->

<!--        &lt;!&ndash; image 엔티티와의 일대다 관계 설정 &ndash;&gt;-->
<!--        <collection property="images" ofType="com.hyundai.app.store.domain.Image">-->
<!--            <id property="id" column="id" />-->
<!--            <result property="imgUrl" column="img_url"/>-->
<!--        </collection>-->
<!--    </resultMap>-->


    <select id="getPopularHashtagsOfStore" resultType="com.hyundai.app.store.domain.Hashtag">
        SELECT hashtag.id AS id
             , hashtag.name AS name
             , hashtag.category AS category
        FROM hashtag
        INNER JOIN store_hashtag
        ON hashtag.id = store_hashtag.hashtag_id
        WHERE store_hashtag.store_id = #{storeId}
        ORDER BY store_hashtag.count DESC
        FETCH FIRST 5 ROWS ONLY
    </select>

    <insert id="saveReview" parameterType="com.hyundai.app.store.domain.Review" >
        INSERT INTO review (
            id
            , member_id
            , store_id
            , score
            , content
        )
        VALUES (
            #{review.id}
            , #{review.memberId}
            , #{review.storeId}
            , #{review.score}
            , #{review.content}
        )
    </insert>

    <update id="updateAvgScore">
        UPDATE store
        SET avg_score = #{avgScore}
        WHERE id = #{storeId}
    </update>

    <update id="updateReviewCount">
        UPDATE store
        SET review_count = review_count + 1
        WHERE id = #{storeId}
    </update>

    <select id="getStoresByHashtagId">
        SELECT  store.id AS id
                , store.name AS name
                , store.contact_number AS contactNumber
                , store.main_category AS mainCategory
                , store.sub_category AS subCategory
                , store.floor AS floor
                , store.description AS description
                , store.avg_score AS avgScore
                , store.review_count AS reviewCount
        FROM store
        INNER JOIN store_hashtag
        ON store.id = store_hashtag.store_id
        WHERE store_hashtag.hashtag_id = #{hashtagId}
        ORDER BY store_hashtag.count DESC
        FETCH FIRST 5 ROWS ONLY
    </select>

    <insert id="saveReviewImage" >
        INSERT INTO image (
            id
            , img_url
            , store_id
            , member_id
            , review_id
            )
        VALUES (
            image_id_seq.nextval
            , #{image}
            , #{storeId}
            , #{memberId}
            , #{reviewId}
        )
    </insert>

    <select id="getImageByReviewId">
        SELECT  image.id AS id
                , review.id AS reviewId
                , review.member_id AS memberId
                , review.store_id AS storeId
                , image.img_url AS imgUrl
        FROM review, image
        WHERE review.id = image.review_id
        AND review.id = #{reviewId}
    </select>

</mapper>